version: "0.1"

subdomains:
  flask-subdomain:
    module: nullstone/autogen-aws-subdomain

apps:
  flask-quickstart:
    module: nullstone/aws-fargate-service
    vars:
      cpu: 256
      memory: 512
      port: 9000
    capabilities:
      - module: nullstone/python-cookies
      - module: nullstone/aws-load-balancer
        connections:
          subdomain: flask-subdomain
